@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
body{
    font-family: 'Inter', sans-serif;
}
a, h1, h2, h3, h4, h5, h6, p, span{
    color: white;
}
h3{
    color: white;
}
.home a.nav-link{
    color: white;
}
.zedxlogo{
    height: 50px;
}
.zedxnav a{
    font-size: 20px;
    margin-left: 10px;
}
.zedxhomeh1{
    text-align: center;
    margin-top: 50%;
}

.about{
    margin-top: 75px;
}
.aboutcontent{
    margin-top: 20px;
    height: 250px;
}
.aboutpic{
    /* height: 700px; */
    margin-left: 150px;
    margin-top: -125px;
}
.aboutpic img{
    height: 700px;

}
.aboutcontent h1{
    text-align: center;
    color: white;
    margin-top: 180px;
}
.aboutcontent p{
    margin: 25px 265px 25px 265px;
}

.whyus{
    padding: 75px 0 85px;
    background-color: #3b444b;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
.whyus h1{
    padding-bottom: 25px;
}
.qas a{
    font-size: 25px;
}
.homeCon{
    background: #232b2b;
}
.homeconf{
    display: flex;
    margin-left: 25px;
}
.homec{
    display: inline-block;
}
.homeconf img{
    height: 75px;
}
.homec h3{
    color: white;
}
.homec p{
    color: rgb(136, 131, 131);
}
.service{
    margin: 50px 0 200px 0;
}
  .card{
    background-color: #414a4c !important;
  }
.card-title{
    color: #fff !important;
    text-align: center;
}
.card-text{
    color: #c7bebd;
}
.col a{
    text-decoration: none;
}
.card:hover{
    box-shadow: 5px 7px 18px 0px rgba(242,242,242,0.75);
    -webkit-box-shadow: 5px 7px 18px 0px rgba(242,242,242,0.75);
    -moz-box-shadow: 5px 7px 18px 0px rgba(242,242,242,0.75);
}

.whchos{
    width: 350px;
    margin-left: 100px;
    box-shadow: 5px 5px 0px 6px rgba(248, 248, 248, 0.75);
-webkit-box-shadow: 5px 5px 0px 6px rgba(255, 253, 253, 0.75);
-moz-box-shadow: 5px 5px 0px 6px rgba(255, 255, 255, 0.75);
border-radius: 10px;
text-align: center;
}
.whchos h5{
    color: #fff;
}
.whchos img{
    height: 150px;
}
.whchos p{
    color: #99a1a1;
    padding-bottom: 15px;
}
.workp{
    margin-top: 75px;
}
.wrkbox{
    height: 200px;
    width: 500px;
    background: #232b2b;
    color: white;
    text-align: center;
    margin-left: 200px;
    margin-top: 50px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
.wrkbox p{
    margin: 10px 25px 10px 25px;
}
.wrkbox2 p{
    margin: 10px 25px 10px 25px;
}
.wrkbox2{
    height: 200px;
    width: 500px;
    background: #232b2b;
    color: white;
    text-align: center;
    margin-left: 700px;
    margin-top: 35px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
}
.contact{
    margin-top: 150px;
}
.contact img{
    height: 500px;
    margin-left: 75px;
    margin-top: -25px;
}
.contact h4{
    color: white;
}
.zedxcontact{
    background: #414a4c;
    height: 150px;
    border-top-left-radius: 50px;
}
.zedxcontact h1{
    margin-left: 25px;
    margin-top: 10px;
    margin-right: 120px;
}
.zedxcontact p{
    margin-left: 15px;
    margin-top: 10px;
    margin-right: 120px;
}
.foot{
    color: white;
}
.foot a{
    text-decoration: none;
}





/* about us page edit */
.aboutmain h1{
    margin-top: 100px;
}
.aboutmain img{
    margin-left: 50px;
    margin-top: 50px;
}

.vision{
    margin-top: -250px;
}
.whyusn{
    background-image: url(../image/bgforabout.jpg);
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    background-position: center;
    padding: 15px 0 15px 0 !important;

}
.whyusn h1{
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
}
.skilled h3{
    text-align: center;
    color: #aa2e25;
    margin-top: 50px;
    font-size: 22px;
    background: #242627;
    font-weight: bold;
}
.skilled p{
    text-align: center;
}
.lisk{
    margin-left: 45%;
    color: white;
    margin-bottom: 50px;
}


/* vulnerability assessment page */
.vulhome{
    margin: 20px 0px 50px 0;
}
.vulhome h1{
    font-size: 50px;
}
.ass{
    height: 135px;
    width: 840px;
    background-color: #3b444b;
    text-align: center;
    border-top-left-radius: 70px;
}
.vulcon{
    margin-top: 50px;
}
.vulli{
    color: #fff;
    margin-left: 10%;
}
.vulget{
    text-align: center;
    background-color: #232b2b;
    margin-top: 30px;
}

.assimg img{
    height: 700px;
    width: 1400px;
    margin-top: 35px;
}
.servicefeature{
    background-image: url(../image/servicebg.jpg);
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    background-position: center;
    padding: 15px 0 15px 0 !important;
}

.servicefea{
    height: 300px;
    width: 500px;
    margin-left: 120px;
}
.servicefeature h2{
    font-size: 46px !important;
    margin: 50px 0 50px 0;
    text-align: center;
}



/* benefits part start */
.backg{
    background-color: #3b444b;
    padding: 20px 0 50px 0;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
.backimg{
    background-image: url(../image/benefitsbackground.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.overlay{
    background-color: #232b2bb2;
    height: 775px;
}
.overlaycon{
    padding-top: 550px;
}
.benefititem{
    padding: 25px 50px 20px 50px;
}
.qa h1{
    text-align: center;
    margin: 50px 0 25px 0;
}

/* contact part start */
.conbg{
    background-image: url(../image/contactBg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    padding-bottom: 50px;
}
.conbg h1{
    text-align: center;
    color: #fff;
    font-size: 55px;
    padding-top: 25px;
}
.conimg{
    justify-content: center;
}
.conimg img{
    width: 1200px;
    margin-left: 50px;
}
.conimg h1{
    font-size: 75px;
    width: 420px;
    margin-left: 35%;
}

.btnc{
    height: 85px;
    width: 400px;
    background-color: #060707;
    text-align: center;
    border-radius: 20px;
    margin-left: 120px;
    
}
.btnc a{
    text-decoration: none;
    color: #fff;
    font-size: 50px;
    

}
.btnc:hover{
    background: #000;
    box-shadow: 5px 7px 18px 0px rgba(242,242,242,0.75);
    -webkit-box-shadow: 5px 7px 18px 0px rgba(242,242,242,0.75);
    -moz-box-shadow: 5px 7px 18px 0px rgba(242,242,242,0.75);

}
.bgov{
    color: #fff;
    margin-top: 25px;
}
.bgov1{
    background-image: url(../image/Cyber-Lock-security-padlock-Background-by-ojosujono96-580x387.jpg);
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
    background-position: center;
    text-align: center;
    color: #fff;
}
.contbg{
    padding-top: 25px;
}
.btncon{
    width: 150px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    text-align: center;
    margin: 50px 40%;
    border-radius: 20px;
    border: #fff 1px solid;
    
}
.btncon a{
    text-decoration: none;
    font-size: 25px;
    color: #aa2e25;

}
.btncon:hover{
    border: #aa2e25 1px solid;
    transition: 0.3s;
}
.btncon a:hover{
    color: #fff;
    
}